*{
    margin: 0px;
    padding: 0px;
    font-family: 'roboto';
}

#geral {
    width: 500px;
    min-height: 800px;
    margin: 20px auto;
    padding: 50px;
    background-color: #43d9e4;
}

ol, li {
    padding: 10px 0px;
    margin: 0px 35px;
}

form{
    background-color: white;
    padding: 15px;
}

h1, h2{
    padding: 10px 0px;
}